#page{
    margin:auto;
    font-family:Arial, Helvetica, sans-serif;
    
}
#head{
color: white;
padding-left:4%;
padding-top:2%;
padding-bottom: 1%;
padding-right:3%;
background-color: rgb(53, 60, 67)

}
p{
    font-size: 11pt;
}
#contact{
    padding-left:4%;
    padding-top:0.5%;
    
}
hr {
    color: #333;
    background-color: #333; 
    height: 1px;
  
}
h5{
    
    font-weight:bold;
    
 
}
